<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Official</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <div class="banr">
        <div class="bant"><h1>Barangay Banaoang</h1></div>
        <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
    </div>
    
    <ul>
        <div class="logo1"></div>
        <li><a  href="">Dashboard</a></li>
        <li><a class="active" href="#news">Barangay Officials</a></li>
        <li><a href="#news">SK Officials</a></li>
        <li><a href="#contact">Resident Records</a></li>
        <li><a href="#about">Blotter Records</a></li>
    </ul>
    
    <div class="cont">
      <h1 class="h">Add Official</h1>
    
    <div class="conto">

    <form action="/create_officials/create" method="post" enctype="multipart/form-data">{% csrf_token %}

        <label for="image">Image:</label>
        <input type="file" name="image"><br><br>

        <label for="fname">Full Name:</label>
        <input type="text" class="fname" name="full_name">

        <label for="chair">Chairmanship:</label>
        <input type="text" class="chair" name="chairmanship">

        <label for="pos">Position:</label>
        <select class="cstat" name="position" required>
            <option value=""></option>
            <option value="Punong Barangay">Punong Barangay</option>
            <option value="Kagawad">Kagawad</option>
        </select><br>

        <input type="submit" value="Submit">
      </form>
    </div>
      </div>
</body>
</html>