<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <div class="banr">
        <div class="bant"><h1>Barangay Banaoang</h1></div>
        <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
    </div>
    
    <ul>
        <div class="logo1"></div>
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="list_officials">Barangay Officials</a></li>
        <li><a class="active" href="list_sks">SK Officials</a></li>
        <li><a href="list_residents">Resident Records</a></li>
        <li><a href="list_blotters">Blotter Records</a></li>
      </ul>
    
    <div class="cont">
      <h1 class="h">Update Official</h1>
    
    <div class="conto">
    <form action="/edit_sks/edit/{{ edit_sk.pk }}" method="post">{% csrf_token %}
        <label for="fname">Full Name:</label>
        <input type="text" class="fname" name="full_name" value="{{ edit_sk.full_name }}">

        <label for="pos">Position:</label>
        <select class="cstat" name="position" required>
            <option value="{{ edit_sk.position }}">{{ edit_sk.position }}</option>
            <option value="SK Chairman">SK Chairman</option>
            <option value="SK Kagawad">SK Kagawad</option>
            <option value="SK Secretary">SK Secretary</option>
            <option value="SK Treasurer">SK Treasurer</option>
        </select><br>

        <input type="submit" value="submit">
      </form>
      </div></div>
</body>
</html>