<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Official</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.fa-arrow-circle-left{
  font-size: 50px;
  color:white;
}

.fa-arrow-circle-left:hover{
  font-size: 50px;
  color:cyan;
}
</style>
</head>
<body>

    <div class="banr">
        <div class="bant"><h1>Barangay Banaoang</h1></div>
        <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
    </div>
    
    <ul>
        <div class="logo1"></div>
        <li><a href="/index">Dashboard</a></li>
        <li><a class="active" href="/list_officials">Barangay Officials</a></li>
        <li><a href="/list_sks">SK Officials</a></li>
        <li><a href="/list_residents">Resident Records</a></li>
        <li><a href="/list_blotters">Blotter Records</a></li>
        <li><a href="list_residents_bc">Barangay Clearance</a></li>
        <li><a href="list_residents_cr">Certificate of Residency</a></li>
        <li><a href="list_residents_ci">Certificate of Indigency</a></li>
      </ul>
    
    <div class="cont">
        <a href="/list_officials"><i class="fa fa-arrow-circle-left" style="margin-left: 2.5%; margin-top: 1%; float: left;"></i></a>  
        <h1 class="h" style="margin-right: 5%;"><i class="fa fa-edit" style="color: cyan;"></i> Update Official</h1>

    
    <div class="conto">
    <form action="/edit_officials/edit/{{ edit_official.pk }}" method="post" enctype="multipart/form-data">{% csrf_token %}

      <img src="{{ edit_official.image }}" style="height:20% ; width:20% ; margin-left: 41%;"/><br><br>
      <label for="fname">Picture:</label>
      <input type="file" name="image"><br><br>

        <label for="fname">Full Name:</label>
        <input type="text" class="fname" name="full_name" value="{{ edit_official.full_name }}">

        <label for="pos">Chairmanship:</label>
        <select class="cstat" name="chairmanship">
            <option value="{{ edit_official.chairmanship }}">{{ edit_official.chairmanship }}</option>
            <option value="COMMITTEE ON APPROPRIATION">COMMITTEE ON APPROPRIATION</option>
            <option value="COMMITTEE ON PUBLIC WORKS">COMMITTEE ON PUBLIC WORKS</option>
            <option value="COMMITTEE ON HEALTH">COMMITTEE ON HEALTH</option>
            <option value="COMMITTEE ON AGRICULTURE">COMMITTEE ON AGRICULTURE</option>
            <option value="COMMITTEE ON ENVIRONMEN">COMMITTEE ON ENVIRONMENT</option>
            <option value="COMMITTEE ON EDUCATION">COMMITTEE ON EDUCATION</option>
            <option value="COMMITTEE ON PEACE & ORDER">COMMITTEE ON PEACE & ORDER</option>
            <option value="SANGGUNIANG KABATAAN">SANGGUNIANG KABATAAN</option>
        </select><br>

        <label for="pos">Position:</label>
        <select class="cstat" name="position" required>
            <option value="{{ edit_official.position }}">{{ edit_official.position }}</option>
            <option value="Punong Barangay">Punong Barangay</option>
            <option value="Kagawad">Kagawad</option>
            <option value="Sangguniang Kabataan">Sangguniang Kabataan</option>
            <option value="Barangay Secretary">Barangay Secretary</option>
            <option value="Barangay Treasurer">Barangay Treasurer</option>
            <option value="BHW President">BHW President</option>
            <option value="Chief Tanod">Chief Tanod</option>
            <option value="Day Care Worker">Day Care Worker</option>
        </select><br>

        <input type="submit" value="submit">
      </form>
      </div></div>
</body>
</html>