<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="banr">
        <div class="bant"><h1>Barangay Banaoang</h1></div>
        <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
    </div>

    <ul>
        <div class="logo1"></div>
        <li><a class="active" href="index">Dashboard</a></li>
        <li><a href="list_officials">Barangay Officials</a></li>
        <li><a href="list_sks">SK Officials</a></li>
        <li><a href="list_residents">Resident Records</a></li>
        <li><a href="list_blotters">Blotter Records</a></li>
        <li><a href="list_residents_bc">Barangay Clearance</a></li>
        <li><a href="list_residents_cr">Certificate of Residency</a></li>
        <li><a href="list_residents_ci">Certificate of Indigency</a></li>
    </ul>

<div class="cont">
    <fieldset class="v">
        <legend class="v1">Vision:</legend>
        <p>An undependent and progressive barangay who is an advocate of<br>
            the principles of good governance that help build and nurture<br>
            honesty and responsibility among its public officials and<br>
            employees and take appropriate measures to promote<br>
            transparency in transacting with the constituency.
        </p>
    </fieldset>

    <fieldset class="m">
        <legend class="m1">Mission:</legend>
        <p>To be able to actively carry out the<br>
            mandate and ensure transparency,<br>
            honesty and efficiency in the delivery<br>
            of services in the barangay.
            
        </p>
    </fieldset>
    

    <div class="org">
        <h1  class="he" style="font-size: 40px;"><b>BANAOANG BARANGAY COUNCIL</h1>
        <h2 class="he" style="color: #3e7273;"><b>MANGALDAN, PANGASINAN</h2>
    
    <div class="pb">

          <img src="{{ pb.image }}" height="100px;" width="100px;" alt="rom">
    </div>
    <p style="font-size:20px; text-align: center; font-weight: bolder;">{{ pb.full_name }}</p>
    <p style="font-size:19px; text-align: center; margin-top: -20px;">{{ pb.position }}</p>
   
    
    <div class="pb1">
 
        <img src="{{ appro.image }}" height="80px;" width="80px;">
    </div>
    <p style="font-size:17px; margin-left: 4%;">KGD. {{ appro.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 1%; color: rgb(50, 50, 50);">{{ appro.chairmanship }}</p>

    
    
     <div class="pb2">
     
        <img src="{{ pw.image }}" height="80px;" width="80px;">
    </div>
    <p style="font-size:17px;  margin-left: 30.1%;">KGD. {{ pw.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 27.1%; color: rgb(50, 50, 50);">{{ pw.chairmanship }}</p>
    
   
    
    <div class="pb3">
     
        <img src="{{ ch.image }}" height="80px;" width="80px;">
    </div>
    <p style="font-size:17px;  margin-left: 54.1%;">KGD. {{ ch.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 54.1%; color: rgb(50, 50, 50);">{{ ch.chairmanship }}</p>
    
   
    
      <div class="pb4">
   
        <img src="{{ ag.image }}" height="80px;" width="80px;">
    </div>
    <p style="font-size:17px;  margin-left: 79%;">KGD. {{ ag.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 76%; color: rgb(50, 50, 50);">{{ ag.chairmanship }}</p>
    
   
    
      <div class="pb5">
       
        <img src="{{ ev.image }}" height="80px;" width="80px;">
    </div>
    <p style="font-size:17px;  margin-left: 15%;">KGD. {{ ev.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 12%; color: rgb(50, 50, 50);">{{ ev.chairmanship }}</p>
    
    
    
      <div class="pb6">
       
          <img src="{{ ed.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left: 41.5%;">KGD. {{ ed.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 39.5%; color: rgb(50, 50, 50);">{{ ed.chairmanship }}</p>
    
    
    
      <div class="pb7">
      
        <img src="{{ po.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left: 66%;">KGD. {{ po.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 65%; color: rgb(50, 50, 50);">{{ po.chairmanship }}</p>
    
  
    
      <div class="pb8">
        
          <img src="{{ sk.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left: 14.5%;">KGD. {{ sk.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 13%; color: rgb(50, 50, 50);">{{ sk.chairmanship }}</p>
    
    
      <div class="pb9">
        
         <img src="{{ bs.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left: 42%;">KGD. {{ bs.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 43%; color: rgb(50, 50, 50);">{{ bs.position }}</p>
    
   
    
      <div class="pb10">
        
          <img src="{{ bt.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left:65.5% ;">KGD. {{ bt.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 70%; color: rgb(50, 50, 50);">{{ bt.position }}</p>
    
 
    
    <div class="pb11">
        
          <img src="{{ bh.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left: 14.5%;">{{ bh.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 17.5%; color: rgb(50, 50, 50);">{{ bh.position }}</p>
    
   
    
      <div class="pb12">
        
          <img src="{{ ct.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px; margin-left: 41.5%;">{{ ct.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 46%; color: rgb(50, 50, 50);">{{ ct.position }}</p>
    
    
    
      <div class="pb13">
        <img src="{{ dcw.image }}" height="80px;" width="80px;" alt="rom">
    </div>
    <p style="font-size:17px;  margin-left:69.5% ;">{{ dcw.full_name }}</p>
    <p style="font-size:15px; margin-top: -20px; margin-left: 71%; color: rgb(50, 50, 50);">{{ dcw.position }}</p>
    
    
    
    
    </div>
</div>
</body>
</html>