<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="banr">
        <div class="bant"><h1>Barangay Banaoang</h1></div>
        <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
    </div>

    <ul>
        <div class="logo1"></div>
        <li><a class="active" href="index.html">Dashboard</a></li>
        <li><a href="list_officials">Barangay Officials</a></li>
        <li><a href="list_sks">SK Officials</a></li>
        <li><a href="list_residents">Resident Records</a></li>
        <li><a href="list_blotters">Blotter Records</a></li>
    </ul>

    <fieldset class="v">
        <legend class="v1">Vision:</legend>
        <p>An undependent and progressive barangay who is an advocate of<br>
            the principles of good governance that help build and nurture<br>
            honesty and responsibility among its public officials and<br>
            employees and take appropriate measures to promote<br>
            transparency in transacting with the constituency.
        </p>
    </fieldset>

    <fieldset class="m">
        <legend class="m1">Mission:</legend>
        <p>To be able to actively carry out the<br>
            mandate and ensure transparency,<br>
            honesty and efficiency in the delivery<br>
            of services in the barangay.
        </p>
       </fieldset>

</body>
</html>