<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Barangay Clearance</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.fa-print{
    color:green;
    font-size: 25px;
  }
  .fa-print:hover{
    color:yellowgreen;
  }

</style>
</head>
<body>

  <div class="banr">
    <div class="bant"><h1>Barangay Banaoang</h1></div>
    <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
</div>

<ul>
  <div class="logo1"></div>
  <li><a href="index">Dashboard</a></li>
  <li><a href="list_officials">Barangay Officials</a></li>
  <li><a href="list_sks">SK Officials</a></li>
  <li><a href="list_residents">Resident Records</a></li>
  <li><a href="list_blotters">Blotter Records</a></li>
  <li><a class="active" href="list_residents_bc">Barangay Clearance</a></li>
  <li><a href="list_residents_cr">Certificate of Residency</a></li>
  <li><a href="list_residents_ci">Certificate of Indigency</a></li>
</ul>

<div class="cont">
  
  <h1 class="h"><i class="fa fa-certificate" style="color: cyan;"></i> Barangay Clearance</h1>

    <table id="myTable" style="width: 98%;">
      <thead>
        
        <tr>
          <th>Full Name</th>
          <th>Nick Name</th>
          <th>Birth Date</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Civil Status</th>
          <th>Purok</th>
          <th>Voter Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for residents_bc in list_residents_bc %}

        <tr>
          <td>{{ residents_bc.full_name }}</td>
          <td>{{ residents_bc.nick_name }}</td>
          <td>{{ residents_bc.birth_date }}</td>
          <td>{{ residents_bc.age }}</td>
          <td>{{ residents_bc.gender }}</td>
          <td>{{ residents_bc.civil_status }}</td>
          <td>{{ residents_bc.purok }}</td>
          <td>{{ residents_bc.voter_status }}</td>
          <td><a href="/gbc_resident/{{ residents_bc.pk }}"><i class="fa fa-print"></i></a></td>
        </tr>

        {% endfor %}
      </tbody>
      </table>
    </div>
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

</body>
</html>