<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of SK Officials</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.fa-edit{
    color:black;
    font-size: 25px;
  }
  .fa-edit:hover{
    color:blue;
  }

</style> 
</head>
<body>

  <div class="banr">
    <div class="bant"><h1>Barangay Banaoang</h1></div>
    <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
</div>

<ul>
  <div class="logo1"></div>
  <li><a href="index.html">Dashboard</a></li>
  <li><a href="list_officials">Barangay Officials</a></li>
  <li><a class="active" href="list_sks">SK Officials</a></li>
  <li><a href="list_residents">Resident Records</a></li>
  <li><a href="list_blotters">Blotter Records</a></li>
</ul>

<div class="cont">
  <h1 class="h"><i class="fa fa-balance-scale" style="color:cyan"></i> Barangay SK Officials</h1>
    <table style="width: 60%; margin-left: 20%;">
        <tr>
          <th>Full Name</th>
          <th>Position</th>
          <th>Action</th>
        </tr>

        {% for sk in sks_list %}

        <tr>
          <td>{{ sk.full_name }}</td>
          <td>{{ sk.position }}</td>
          <td><a href="/edit_sk/{{ sk.pk }}"><i class="fa fa-edit"></a></td>
        </tr>

        {% endfor %}

      </table>
    </div>
</body>
</html>