<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Officials</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

  <div class="banr">
    <div class="bant"><h1>Barangay Banaoang</h1></div>
    <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
</div>

<ul>
    <div class="logo1"></div>
    <li><a  href="index">Dashboard</a></li>
    <li><a class="active" href="#news">Barangay Officials</a></li>
    <li><a href="#news">SK Officials</a></li>
    <li><a href="#contact">Resident Records</a></li>
    <li><a href="#about">Blotter Records</a></li>
</ul>

<div class="cont">
  <h1 class="h">Barangay Officials</h1>
    <table>
        <tr>
          <th>Full Name</th>
          <th>Chairmanship</th>
          <th>Position</th>
          <th>Action</th>
        </tr>

        {% for official in officials_list %}

        <tr>
          <td>{{ official.full_name }}</td>
          <td>{{ official.chairmanship }}</td>
          <td>{{ official.position }}</td>
          <td><a href="/edit_official/{{ official.pk }}"> EDIT/</a></td>
        </tr>

        {% endfor %}

      </table>
    </div>
</body>
</html>