<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Residents</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.fa-edit{
    color:black;
    font-size: 25px;
  }
  .fa-edit:hover{
    color:blue;
  }
  .fa-trash{
  margin-left: 10px;
  color:grey;
  font-size: 25px;
}
.fa-trash:hover{
  color:red;
}
  .ad{
  float:right;
  width: 100px;
  height: 40px;
  background-color:cyan ;
  margin-top:-20px ;
  margin-right: 50px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}

.ad:hover{
   background-color:#4CAF50;
   color: white;
   cursor: pointer;

  }

</style>
</head>
<body>

  <div class="banr">
    <div class="bant"><h1>Barangay Banaoang</h1></div>
    <div class="bant2"><h3>Mangaldan, Pangasinan</h3></div>
</div>

<ul>
  <div class="logo1"></div>
  <li><a href="index">Dashboard</a></li>
  <li><a href="list_officials">Barangay Officials</a></li>
  <li><a href="list_sks">SK Officials</a></li>
  <li><a class="active" href="list_residents">Resident Records</a></li>
  <li><a href="list_blotters">Blotter Records</a></li>
</ul>

<div class="cont">

  <h1 class="h"><i class="fa fa-users" style="color: cyan;"></i> Resident Records</h1>

  <a  href="create_residents"><button class="ad"><i class="fa fa-user-plus"></i> Resident</button></a>

    <table style="margin-top: 6%;">
        <tr>
          <th>Full Name</th>
          <th>Nick Name</th>
          <th>Birth Date</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Civil Status</th>
          <th>Purok</th>
          <th>Voter Status</th>
          <th>Action</th>
        </tr>

        {% for resident in residents_list %}

        <tr>
          <td>{{ resident.full_name }}</td>
          <td>{{ resident.nick_name }}</td>
          <td>{{ resident.birth_date }}</td>
          <td>{{ resident.age }}</td>
          <td>{{ resident.gender }}</td>
          <td>{{ resident.civil_status }}</td>
          <td>{{ resident.purok }}</td>
          <td>{{ resident.voter_status }}</td>
          <td><a href="/edit_resident/{{ resident.pk }}"><i class="fa fa-edit"></i></a> <a href="/delete_resident/{{ resident.pk }}" onclick="return confirm('Are you sure you want to delete this item?')"> <i class="fa fa-trash"></i></a></td>
        </tr>

        {% endfor %}

      </table>
      </div>
</body>
</html>